.editor-container {
    position: relative;
}
/* editor */
.editor-page {
    position: relative;
    flex: 1;
    z-index: 1;
    background-color: #fff;
}
.editor-page > canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    cursor: default;
}

/* contextmenu */
.editor-contextmenu {
    display: none;
    position: fixed;
    width: 100px;
    padding: 5px 0;
    background-color: #fff;
    z-index: 9;
    flex-direction: column;
    border-radius: 2px;
    overflow: hidden;
}
.editor-contextmenu.show {
    display: flex;
}
.editor-contextmenu-item {
    padding: 5px 10px;
    cursor: default;
    transition: color .2s ease;
}
.editor-contextmenu-item:hover {
    color: #03a9f4;
}
